body {
    background-color: #EAF6F6;
}

hr {
    background-color: white;
    border-style:none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    height: 0;
    width: 20%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}
